.Form {
  display: flex;
  &Content {
    display: flex;
    margin: auto;
    &__name {
      height: 40px;
      border: 1px solid $PrimaryColor;
      // border-top: none;
      display: flex;
      align-items: center;
      margin: auto 16px;
      width: 200px;
      box-shadow: 1px 1px 3px -1px rgba(0, 0, 0, 0.3);
      color: $FontColor;
    }
    &__button {
      background: $SecondaryColor;
      // border-radius: 30px;
      font-size: 12px;
      width: 100px;
      height: 40px;
      line-height: 20px;
      text-align: center;
      color: #fff;
      border: 1px solid $SecondaryColor;
      margin: 8px 0;
      box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 20%);
      &:hover {
        background-color: #ffffff;
        color: $SecondaryColor;
        transition: all 0.3s ease;
      }
    }
  }
}